<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form th:action="@{/posts/new}" th:object="${form}" method="post">
        <div class="form-group">
            <label th:for="name">제목</label>
            <input type="text" th:field="*{title}" class="form-control" placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">내용</label>
            <input type="text" th:field="*{contents}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">상품명</label>
            <input type="text" th:field="*{product_name}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">시작가</label>
            <input type="text" th:field="*{startBid}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">낙찰가</label>
            <input type="text" th:field="*{winningBid}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">입찰 단위</label>
            <input type="text" th:field="*{unitBid}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">현재 입찰가</label>
            <input type="text" th:field="*{currentBid}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">경매 기간</label>
            <input type="text" th:field="*{auctionPeriod}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">상품 상태</label>
            <input type="text" th:field="*{status}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->


</body>
</html>
