<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>paging</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="title">
    <a href="/"><img
            src="images/premium-icon-hammer-2547559.png"
            id="iconimg"
    />도전경매</a>
</div>
<table class="table table-striped">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <thead class="thead-dark">
<br><br>
    <b><p>내가 쓴 게시글 목록</p></b>

    <tr>
        <th>#</th>
        <th>작성자</th>
        <th>제목</th>
        <th>내용</th>
        <th>상품명</th>
        <th>시작가</th>
        <th>낙찰가</th>
        <th>입찰 단위</th>
        <th>현재 입찰가</th>
        <th>경매 기간</th>
        <th>상품 상태</th>
        <th>등록 시간</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <th scope="row" th:text="${boardStat.index + 1}">1</th>
        <td th:text="${board.getPostUserId()}"></td>
        <td>
            <a href="#" th:href="@{/post/{id}/auction (id=${board.id})}">
                <h2><span th:text="${board.title}"></span></h2>
            </a>
        </td>
        <td th:text="${board.contents}"></td>
        <td th:text="${board.productName}"></td>
        <td th:text="${board.startBid}"></td>
        <td th:text="${board.winningBid}"></td>
        <td th:text="${board.unitBid}"></td>
        <td th:text="${board.nextBid}"></td>
        <td th:text="${board.auctionPeriod}"></td>
        <td th:text="${board.status}"></td>
        <td th:text="${#dates.format(board.regisTime, 'yyyy년 MM월 dd일 HH시 mm분')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>

