<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>내용</th>
                <th>상품명</th>
                <th>시작가</th>
                <th>낙찰가</th>
                <th>입찰 단위</th>
                <th>현재 입찰가</th>
                <th>경매 기간</th>
                <th>상품 상태</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td>
                    <a href="#" th:href="@{/post/{id}/auction (id=${post.id})}">
                        <span th:text="${post.title}"></span>
                    </a>
                </td>
                <td th:text="${post.contents}"></td>
                <td th:text="${post.product_name}"></td>
                <td th:text="${post.startBid}"></td>
                <td th:text="${post.winningBid}"></td>
                <td th:text="${post.unitBid}"></td>
                <td th:text="${post.currentBid}"></td>
                <td th:text="${post.auctionPeriod}"></td>
                <td th:text="${post.status}"></td>


            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
</html>
