<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="/webjars/jquery/jquery.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-
ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/postItemView.css" />
    <title>경매</title>
</head>
<body onload="check()">
<div class="container">
    <div style="position: relative; width: 850px">
    <div class="top-bar">
        <div class="title">
            <a href="/"
            ><img
                    src="/images/premium-icon-hammer-2547559.png"
                    id="iconimg"
            />도전경매</a
            >
        </div>
    </div>
        <form class= product-info th:object="${form}" method="post">

            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{postUserId}">
            <input type="hidden" th:field="*{currentBidId}">
            <div class="post-box">
            <div class="img-box">
                <img class="post-img" src="http://image.kyobobook.co.kr/images/book/xlarge/045/x9791188840045.jpg"/>
            </div>
            <div class="post-content">
                <div class="product-title form-groups">
                    <div th:text="*{title}"></div>
                    <input type="hidden" th:field="*{title}">
                </div>
                <div class="form-groups">
                    <div class="productName">
                        상품명 : <div th:text="*{productName}"></div>
                        <input type="hidden" th:field="*{productName}">
                    </div>
                    <div class="category">
                        카테고리 : <div th:text="*{category}"></div>
                        <input type="hidden" th:field="*{category}">
                    </div>
                </div>

                <div class="content form-groups">
                    내용<br> <div th:text="*{contents}"></div>
                    <input type="hidden" th:field="*{contents}">
                </div>

                <input type="hidden" th:field="*{status}">
                <div class="form-groups form-contain"/>
                    <div class="startBid">
                        시작가 : <div id="startBid" th:text="*{startBid}"></div>
                        <input type="hidden" th:field="*{startBid}">
                    </div>

                    <input type="hidden" th:field="*{nextBid}">

                    <div class="winningBid">
                        즉시구매가 : <div id="winningBid" th:text="*{winningBid}"></div>
                        <input type="hidden" th:field="*{winningBid}">
                    </div>
                    <div class="unitBid">
                        입찰단위 : <div id="unit" th:text="*{unitBid}"></div>
                        <input type="hidden" th:field="*{unitBid}">
                    </div>
                </div>
                <input type="hidden" th:field="*{auctionPeriod}">

                <div class="regisTime form-groups">
                    올린시간 : <div id="regisTime" th:text="*{regisTime}"></div>
                    <input type="hidden" th:field="*{regisTime}">
                </div>
                <div style="display:flex; align-items:center">
                    <div class="bid-btn">
                        <button type="submit" th:if="${form.status == '입찰 중'}" onclick="bid()">입찰하기</button>
                        <button type="submit" th:if="${form.status != '입찰 중'}" onclick="bid()" disabled="disabled">입찰하기</button>
                    </div>
                    <div class="edit-box">
                        <a id="modifyButton" href="#" th:href="@{/post/{id}/edit (id=${form.id})}"  role="button">수정</a>

                        <a id="deleteButton" href="#" th:href="@{/post/{id}/delete (id=${form.id})}"  role="button">삭제</a>
                    </div>
                </div>
            </div>
            </form>
        <form action="/auction/buy" method="post">
            <input type="hidden" th:field="${form.id}">
            <button class="buy-btn" type="submit" th:if="${form.status == '입찰 중'}" onclick="buy()">즉시 구매</button>
            <button class="buy-btn" type="submit" th:if="${form.status != '입찰 중'}" onclick="bid()" disabled="disabled">즉시 구매</button>
        </form>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    const period = [[${form.auctionPeriod}]];
    const status = [[${form.status}]];

    //게시글 작성 사용자가 아니면 수정,삭제 버튼 없애기
    /*<![CDATA[*/
    var postUserName =  [[${postUserName}]];
    var loginUsername = [[${loginName}]];
    /*]]>*/
    console.log(postUserName);
    console.log(loginUsername);

    if(postUserName!==loginUsername) {
        console.log("수정 삭제 금지");
        document.getElementById('modifyButton').style.display = 'none';
        document.getElementById('deleteButton').style.display = 'none';
    }

    function check(){
        if(status === '입찰 종료'){
            alert("입찰 종료된 상품입니다.");
        }
        else if(status === '낙찰됨'){
            alert("낙찰된 상품입니다.");
        }
        else if(status === '구매 완료'){
            alert("구매 완료된 상품입니다.");
        }
        else{
            //calcDay();
            //setInterval(calcDay, 1000);
        }
    }

    function bid(){
        var aucId = [[${session.id}]];
        var regisId = [[${form.postUserId}]];

        if(aucId != regisId){
            if(confirm("입찰하시겠습니까?")){
                alert("입찰에 성공했습니다");
            }
            else{
                event.preventDefault();
            }
        }
        else{
            alert("자신의 물품은 입찰할 수 없습니다.");
            event.preventDefault();
        }
    }
    function buy(){
        var buyId = [[${session.id}]];
        var regisId = [[${form.postUserId}]];

        if(buyId != regisId){
            if(confirm("즉시 구매하시겠습니까?")){
                alert("성공적으로 구매되었습니다.");
            }
            else{
                event.preventDefault();
            }
        }
        else{
            alert("자신의 물품은 구매할 수 없습니다.");
            event.preventDefault();
        }
    }
</script>
</html>