<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="/webjars/jquery/jquery.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-
ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/postItemView.css" />
    <title>경매</title>
</head>
<body onload="check()">
<div class="container">
    <div style="position: relative; width: 850px">
    <div class="top-bar">
        <div class="title">
            <a href="/"
            ><img
                    src="/images/premium-icon-hammer-2547559.png"
                    id="iconimg"
            />도전경매</a
            >
        </div>
        <div id="list_nav">
            <a href="/posts">
                목록 보기
            </a>
        </div>
    </div>
        <form class= product-info th:object="${form}" method="post">

            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{postUserId}">
            <input type="hidden" th:field="*{currentBidId}">
            <div class="post-box">
            <div class="img-box">
                <img class="post-img" th:src="'/postimages/'+${file}"/>
            </div>
            <div class="post-content">
                <div class="product-title form-groups">
                    <div class="text" style="width:50%" th:text="*{title}"></div>
                    <input type="hidden" th:field="*{title}">
                    <input type="hidden" th:field="*{view}">
                </div>
                <div class="view">
                    조회수 : <div class="text" style="width:50%" th:text="*{view}"></div>
                    <input type="hidden" th:field="*{view}">
                </div>
                <div class="form-groups">
                    <div class="productName">
                        상품명 : <div class="text" style="width:50%" th:text="*{productName}"></div>
                        <input type="hidden" th:field="*{productName}">
                    </div>
                    <div class="category">
                        카테고리 : <div class="text" style="width:50%" th:text="*{category}"></div>
                        <input type="hidden" th:field="*{category}">
                    </div>
                </div>

                <div class="content form-groups">
                    내용: <br> <div class="text" style="width:50%" th:text="*{contents}"></div>
                    <input type="hidden" th:field="*{contents}">
                </div>

                <input type="hidden" th:field="*{status}">
                <div class="form-groups price-box"/>
                    <div class="nextBid">
                        현재가 : <div class="text" style="width:50%" id="nextBid" th:text="*{nextBid}"></div>
                        <input type="hidden" th:field="*{nextBid}">
                    </div>
                    <input type="hidden" th:field="*{nextBid}">

                    <div class="winningBid">
                        즉구가 : <div id="winningBid" class="text" style="width:50%" th:text="*{winningBid}"></div>
                        <input type="hidden" th:field="*{winningBid}">
                    </div>
                    <div class="unitBid">
                        입찰단위 : <div id="unit" class="text" style="width:50%" th:text="*{unitBid}"></div>
                        <input type="hidden" th:field="*{unitBid}">
                    </div>
                </div>
                <input type="hidden" th:field="*{auctionPeriod}">

                <div class="status form-groups">
                    입찰상태 : <div id="status" class="text" style="width:50%" th:text="*{status}"></div>
                    <input type="hidden" th:field="*{status}">
                </div>
                <div class="regisTime form-groups">
                    <button type="button" id="exp" th:if="${session.id == form.postUserId && form.status == '입찰 중'}" onclick="expired()">마감</button>
                    <br>
                    <div id="timer">마감된 물품입니다.</div>
                    <input type="hidden" th:field="*{regisTime}">
                </div>
                <div style="display:flex; align-items:center">
                    <div class="bid-btn">
                        <button type="submit" id='bidButton' th:if="${form.status == '입찰 중' && form.postUserId != session.id}" onclick="bid()">입찰하기</button>
                        <button type="submit" th:if="${form.status != '입찰 중'}" onclick="bid()" disabled="disabled">입찰하기</button>
                    </div>
                    <div class="edit-box">
                        <a id="modifyButton" href="#" th:href="@{/post/{id}/edit (id=${form.id})}"  role="button">수정</a>

                        <a id="deleteButton" href="#" th:href="@{/post/{id}/delete (id=${form.id})}"  role="button">삭제</a>
                    </div>
                </div>
            </div>
            </form>
        <form action="/auction/buy" method="post">
            <input type="hidden" th:field="${form.id}">
            <button class="buy-btn" id='buyButton' type="submit" th:if="${form.status == '입찰 중' && form.postUserId != session.id}" onclick="buy()">즉시 구매</button>
            <button class="buy-btn" type="submit" th:if="${form.status != '입찰 중'}" onclick="buy()" disabled="disabled">즉시 구매</button>
        </form>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    const period = [[${form.auctionPeriod}]];
    const status = [[${form.status}]];
    var regisTime = new Date([[${form.regisTime}]]);
    var timer;

    /*<![CDATA[*/
    var postUserName =  [[${postUserName}]];
    var loginUsername = [[${loginName}]];
    /*]]>*/

    //게시글 작성 사용자면 입찰하기, 즉시구매 버튼 없애기
    if(postUserName===loginUsername) {
        document.getElementById('bidButton').style.display = 'none';
        document.getElementById('buyButton').style.display = 'none';
        if(status == '입찰 종료'){
            document.getElementById('exp').disabled = 'disabled';
        }
    }

    //게시글 작성 사용자가 아니면 수정,삭제 버튼 없애기
    if(postUserName!==loginUsername) {
        document.getElementById('modifyButton').style.display = 'none';
        document.getElementById('deleteButton').style.display = 'none';
    }

    function check(){
        if(status === '입찰 종료'){
            alert("입찰 종료된 상품입니다.");
        }
        else if(status === '낙찰 완료'){
            alert("낙찰된 상품입니다.");
        }
        else if(status === '구매 완료'){
            alert("구매 완료된 상품입니다.");
        }
        else{
            calcDay();
            timer = setInterval(calcDay, 1000);
        }
    }

    function calcDay(){
        var regisDate = regisTime.getTime();

        const time = Math.floor(period * 60 * 1000 * 60);

        const expiredDate = new Date(regisDate + time);

        const today = new Date();

        const distance = expiredDate.getTime() - today.getTime();

        console.log("timer starting... millisecond : " + distance);

        if(distance < 0){
            document.getElementById("buyButton").disabled = true;
            document.getElementById("bidButton").disabled = true;
        }
        else if(distance == 0){
            $.ajax({
                type: "POST",
                url: "/post/timeExpired",
                data: {
                    "id": [[${form.id}]]
                },
                success: function(res){
                     window.location.href = "http://localhost:9076";
                },
                error: function(request,status,error){
                    alert("오류 발생");
                }
            });
        }
        else{
            var day = Math.floor(distance / (1000*60*60*24));
            var hour = Math.floor((distance % (1000*60*60*24))/(1000*60*60)) + day * 24;
            var minutes = Math.floor((distance % (1000*60*60))/(1000*60));
            var seconds = Math.floor((distance % (1000*60))/1000);

            document.getElementById("timer").innerText = "남은 시간: " + hour + ":" + minutes + ":" + seconds;
        }
    }
    function bid(){
        var aucId = [[${session.id}]];
        var regisId = [[${form.postUserId}]];
        var currentBidId = [[${form.currentBidId}]];

        if(aucId != regisId){
            if(aucId != currentBidId){
                if([[${form.unitBid}]] + [[${form.nextBid}]] > [[${form.winningBid}]]){
                    alert("최대 입찰가격입니다.");
                    event.preventDefault();
                }
                else{
                    if(confirm("입찰하시겠습니까?")){
                        alert("입찰에 성공했습니다");
                    }
                    else{
                        event.preventDefault();
                    }
                }
            }
            else{
                alert("같은 물품에 두 번 이상 입찰할 수 없습니다.");
            }
        }
        else{
            alert("자신의 물품은 입찰할 수 없습니다.");
            event.preventDefault();
        }
    }

    function buy(){
        var buyId = [[${session.id}]];
        var regisId = [[${form.postUserId}]];

        if(buyId != regisId){
            if(confirm("즉시 구매하시겠습니까?")){
                alert("성공적으로 구매되었습니다.");
            }
            else{
                event.preventDefault();
            }
        }
        else{
            alert("자신의 물품은 구매할 수 없습니다.");
            event.preventDefault();
        }
    }

    function expired(){
        if(confirm("마감 하시겠습니까?")){
            document.getElementById("timer").innerText = "마감된 물품입니다.";
            clearInterval(timer);

            var form = {
                "id": [[${form.id}]],
                "postUserId": [[${form.postUserId}]],
                "currentBidId": [[${form.currentBidId}]]
            };
            $.ajax({
                type: "POST",
                url: "/post/btnExpired",
                data:{
                    "id" : [[${form.id}]],
                    "postUserId" : [[${form.postUserId}]],
                    "currentBidId" : [[${form.currentBidId}]]
                },
                success: function(res){
                    alert("마감되었습니다.");
                    window.location.href = "http://localhost:9076";
                },
                error:function(request,status,error){
                    alert("오류 발생");
                }
            });

        }else{
            event.preventDefault();
        }
    }
</script>
</html>