<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="/webjars/jquery/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title th:text="@{'옥션월드'}"></title>
</head>
<body onload="check()">
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:object="${form}" method="post">
        <td>
            <h2><a href="#" th:href="@{/post/{id}/edit (id=${form.id})}" class="btn btn-primary" role="button">수정</a></h2>
        </td>
        <td>
            <a href="#" th:href="@{/post/{id}/delete (id=${form.id})}" class="btn btn-delete" role="button">삭제</a>
        </td><br>
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{postUserId}">
        <input type="hidden" th:field="*{title}">
        <input type="hidden" th:field="*{currentBidId}">

        카테고리 : <p th:text="*{category}"></p>
        <input type="hidden" th:field="*{category}">

        상품명 : <h5 id="title" th:text="*{product_name}"></h5>
        <input type="hidden" th:field="*{product_name}">

        제목 : <p th:text="*{title}"></p>
        <input type="hidden" th:field="*{title}">

        내용 : <p th:text="*{contents}"></p>
        <input type="hidden" th:field="*{contents}">

        현재 상태 : <p id="status" th:text="*{status}"></p>
        <input type="hidden" th:field="*{status}">

        <div>
            시작가 : <p id="startBid" th:text="*{startBid}"></p>
            <input type="hidden" th:field="*{startBid}">
        </div>

        다음 입찰가 : <p id="currentBid" th:text="*{currentBid}"></p>
        <input type="hidden" th:field="*{currentBid}">

        낙찰가 : <p id="winningBid" th:text="*{winningBid}"></p>
        <input type="hidden" th:field="*{winningBid}">

        입찰단위 : <p id="unit" th:text="*{unitBid}"></p>
        <input type="hidden" th:field="*{unitBid}">

        경매기간 : <p id="period" th:text="*{auctionPeriod}">시간</p>
        <input type="hidden" th:field="*{auctionPeriod}">

        남은 시간 : <p id="remainingTime">24</p>

        올린시간 : <p id="regisTime" th:text="*{regisTime}"></p>
        <input type="hidden" th:field="*{regisTime}">
        <p>
            <button id="button" type="submit" onclick="bid()">입찰하기</button>
        </p>
    </form>
</div>
</body>
<script th:inline="javascript">

    const button = document.getElementById("button");
    const period = document.getElementById("period");
    const status = document.getElementById("status");

    function check(){
        if(status.innerText === '입찰 종료'){
            alert("입찰 종료된 상품입니다.");
            button.disabled = true;
        }
        else if(status.innerText === '낙찰 됨'){
            alert("낙찰된 상품입니다.");
            button.disabled = true;
        }
        else{
            //calcDay();
            //setInterval(calcDay, 1000);
        }
    }

    function bid(){
        var buyId = getCookie('id');
        var regisId = [[${form.postUserId}]];
        if(buyId != regisId){
            if(confirm("입찰하시겠습니까?")){
                alert("입찰에 성공했습니다");
            }
            else{
                event.preventDefault();
            }
        }
        else{
            alert("자신의 물품에 입찰할 수 없습니다.");
            event.preventDefault();
        }
    }

    function getCookie(cookieName){
        cookieName = cookieName + '=';
        var cookieData = document.cookie;
        var start = cookieData.indexOf(cookieName);
        var value = '';
        if(start != -1){
            start += cookieName.length;
            var end = cookieData.indexOf(';', start);
            if(end == -1){
                end = cookieData.length;
            }
            value = cookieData.substring(start, end);
        }
        return unescape(value);
    }
</script>
</html>