<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
            rel="stylesheet"
    />
    <meta charset="UTF-8">
    <title>paging</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/postList.css" />
</head>
<body>
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="search-form">
        <form action="/post/search" method="GET">
            <input class="search-box" name="keyword" type="text" placeholder="내가 찾는 도서, 전자기기">
            <input type="submit" class="search-btn" value="검색">
        </form>
    </div>
    <div class="container">
    <div class="product-list">
        <div class="product-box" th:each="board : ${boardList}">
            <div style="display: flex; justify-content: center;">
                <img class="product-img" src="https://www.missioninfra.net/img/noimg/noimg_4x3.gif"/>
            </div>
            <div class="product-info">
                <div>
                    <a href="#" th:href="@{/post/{id}/auction (id=${board.id})}">
                        <span class="p-title" th:text="${board.title}"></span>
                    </a>
                </div>
                <div><span>상품명 : </span><span class="name" th:text="${board.productName}"></span></div>
                <div><span>현재가 : </span><span class="nextBid" th:text="${board.nextBid}"></span></div>
                <div><span>즉시구매가 : </span><span class="winningBid" th:text="${board.winningBid}"></span></div>
                <div th:text="${board.auctionPeriod}"></div>
                <div><span>상태 : </span><span class="status" th:text="${board.status}"></span></div>
                <div><span>등록기간 : </span><span th:text="${#dates.format(board.regisTime, 'MM/dd HH:mm')}"></span></div>
            </div>
        </div>
    </div>
    </div>
<nav aria-label="Page navigation example ">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:href="@{/posts?page=1}" aria-label="Previous">
                <span aria-hidden="true">처음</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" th:href="@{/posts?page={page} (page = ${pagination.prevBlock}) }" aria-label="Previous">
                <span aria-hidden="true">이전</span>
            </a>
        </li>
        <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
            <li class="page-item"
                th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
                th:each="pageButton : ${#numbers.sequence(start, end)}">
                <a class="page-link" th:href="@{/posts?page={page} (page = ${pageButton})}" th:text=${pageButton}></a>
            </li>
        </th:block>
        <li class="page-item">
            <a class="page-link" th:href="@{posts?page={page} (page = ${pagination.nextBlock})}" aria-label="Next">
                <span aria-hidden="true">다음</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" th:href="@{posts?page={page} (page = ${pagination.totalPageCnt})}" aria-label="Previous">
                <span aria-hidden="true">끝</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>

