<!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-
    ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <!-- Custom styles for this template -->
        <link href="/css/jumbotron-narrow.css" rel="stylesheet">
        <title>경매</title></head>
    <body>
        <div class="container">
            <form th:action="@{/post/${id}/auction}" th:object="${form}" method="post">
                <input type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <select th:field="*{category}" class="form-control" id="category" onchange="handleOnChange(this)">
                        카테고리
                        <option value="도서">도서</option>
                        <option value="학습자료">학습자료</option>
                        <option value="전자기기">전자기기</option>
                        <option value="생필품">생필품</option>
                    </select>
                </div>
                <div class="form-group">
                    <label th:for="name">제목</label>
                    <input type="text" th:field="*{title}" class="form-control" placeholder="이름을 입력하세요">
                </div>
                <div class="form-group">
                    <label th:for="price">내용</label>
                    <input type="text" th:field="*{contents}" class="form-control" placeholder="가격을 입력하세요">
                </div>
                <div class="form-group">
                    <label th:for="price">상품명</label>
                    <input type="text" th:field="*{productName}" class="form-control" placeholder="가격을 입력하세요">
                </div>
                <div class="form-group">
                    <label th:for="price">시작가</label>
                    <input type="text" th:field="*{startBid}" class="form-control" placeholder="가격을 입력하세요">
                </div>
                <div class="form-group">
                    <label th:for="price">낙찰가</label>
                    <input type="text" th:field="*{winningBid}" class="form-control" placeholder="가격을 입력하세요">
                </div>
                <div class="form-group">
                    <label th:for="price">입찰 단위</label>
                    <input type="text" th:field="*{unitBid}" class="form-control" placeholder="가격을 입력하세요">
                </div>
                <div class="form-group">
                    <label th:for="price">현재 입찰가</label>
                    <input type="text" th:field="*{nextBid}" class="form-control" placeholder="가격을 입력하세요">
                </div>
                <div class="form-group">
                    <label th:for="price">경매 기간</label>
                    <input type="text" th:field="*{auctionPeriod}" class="form-control" placeholder="가격을 입력하세요">
                </div>
                <div class="form-group">
                    <label th:for="price">상품 상태</label>
                    <input type="text" th:field="*{status}" class="form-control" placeholder="가격을 입력하세요">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br/>
        </div>
        <div class="form-group">
            <label th:for="name">제목</label>
            <input type="text" th:field="*{title}" class="form-control" placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">내용</label>
            <input type="text" th:field="*{contents}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">상품명</label>
            <input type="text" th:field="*{productName}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">시작가</label>
            <input type="text" th:field="*{startBid}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">낙찰가</label>
            <input type="text" th:field="*{winningBid}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">입찰 단위</label>
            <input type="text" th:field="*{unitBid}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">현재 입찰가</label>
            <input type="text" th:field="*{nextBid}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">경매 기간</label>
            <input type="text" th:field="*{auctionPeriod}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">상품 상태</label>
            <input type="text" th:field="*{status}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>
