<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
  <img class="footer_img" src="/images/hansung.png"/>
    <div class="team-box">
        <div>팀 정보</div>
        <div>
            우주정복 / 임승혁 강성욱 박민규 한지윤
        </div>
        <div>
            지도교수 / 김영웅
        </div>
    </div>
    <div class="link-box">
        <div>
        코드 보기 : <a href="https://github.com/alsrb2026/capstone_auction">https://github.com/alsrb2026/capstone_auction</a>
        </div>
        <div>
            시연 영상 : <a>영상</a>
        </div>
    </div>
</div>