@charset "UTF-8";

.msg-container{ max-width:1170px; margin:auto; }

.inbox_people{
	none: repeat scroll 0 0;
	float: left;
	overflow: hidden;
	width: 40%; border-right: 1px solid #f7f7f7;
}

.inbox_msg{
	border: 3px solid #fca863;
	border-radius: 10px;
	clear: both;
	overflow: hidden;
}

.headind_srch{ padding: 10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #fca863; }

.user_header h4 {
	font-size: 20px;
	margin: auto;
}

.chatList{
	border-bottom: 1px solid #b8b6b6;
	margin: 0;
	padding: 18px 16px 10px;
}

.chatListBox :hover{
	background-color: #b8b6b6;
}

.inbox_chat {
	height: 550px;
	overflow-y: scroll;
}

.msg_history {
	height: 550px;
	overflow-y: auto;
}
