.loginbox {
  position: absolute;
  top: 5px;
  right: 20px;
}
.loginbox-btn::after{
  content: " | ";
}
.loginbox-btn:last-child::after{
  content:"";
}
.loginbox-btn {
  color: gray;
}
.loginbox-btn:hover {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.logout-btn{
  margin-left: 20px;
}
.fir_content {
  display: none;
}
.l-fir_content {
  margin-right: 20px;
}
.l-fir_content,
.r-fir_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.large-text {
  font-size: 50px;
}
.l-fir_content-text {
  text-align: left;
}
.r-fir_content-text {
  text-align: right;
}
.l-fir_content-text,
.r-fir_content-text {
  display: flex;
  flex-direction: column;
}
.l-fir_content-text div {
  height: 55px;
}
.r-fir_content-text div {
  height: 40px;
}
.fir_content img {
  width: 300px;
  height: auto;
}

.nav-banner a:hover{
  color: black;
  text-decoration: none;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

    .nav-banner {

      position: absolute;
      right:0;
      margin-left: 100px;
      height: 50px;
      display: flex;
      align-itmes: center;
    }
    .nav-banner a, #posts{
      text-align: center;
      padding-top: 12px;
      margin-right: 20px;
      height: 50px;
      width: 100px;
      font-size: 20px;
      font-weight: 400;
    }
    #posts:hover{
      cursor: grab;
    }

    #category-box{
      width: 100px;
      display: flex;
      flex-direction: column;
      position: absolute;
      top:50px;
      left:120px;
      background: rgb(230,230,230);
    }
    #category-box a{
      padding-top: 10px;
      text-align: center;

    }
.sec_content {
  display: none;
}
.l-sec_content-img {
  height: 400px;
  width: auto;
}
.r-sec_content {
  margin-left: 100px;
}
.r-sec_content-textbox {
  width: 250px;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
}
.r-sec_content-text1 {
  font-size: 20px;
}
.r-sec_content-text2 {
  font-size: 16px;
  font-weight: 200;
}
.r-sec_content-text3 {
  font-size: 14px;
  font-weight: 200;
}
.r-sec_content div {
  text-align: right;
}
.r-sec_content-img {
  height: 100px;
  width: auto;
  margin-top: 30px;
}
.slide {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.slick-sample img {
  width: auto;
  object-fit: contain;
}
.slick-sample {
  width: 90%;
}
#prevArrow {
  background-image: url(/images/icon-backward.svg);
  left: 20px;
}

#nextArrow {
  background-image: url(/images/icon-forward.svg);
  right: 20px;
}
#prevArrow,
#nextArrow {
  background-color: rgb(83, 81, 81);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.search-box, .search-btn{
  display: none;
}
@media screen and (min-width: 960px) {
  .search-box {
    display: inline;
    margin: 50px;
    margin-right: 5px;
    width: 30vw;
    height: 50px;
    border: 1px solid rgb(213, 213, 213);
    padding-left: 20px
  }
  .search-btn{
    display: inline;
      height: 50px;
      width: 70px;
      background-color: black;
      color: white;
  }
}
@media screen and (min-width: 600px) {
  .fir_content {
    height: 500px;
    background-color: aliceblue;
    line-height: 2;
    letter-spacing: -0.03em;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  .sec_content {
    height: 500px;
    line-height: 2;
    letter-spacing: -0.03em;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    align-items: center;
    padding: 30px;
  }
  .slick-sample img {
    height: 600px;
  }
}
