.search-box {
    display: inline;
    margin: 0 5px;
    width: 30vw;
    height: 30px;
    border: 1px solid rgb(213, 213, 213);
    padding-left: 10px;
    font-size: 15px;
}
#saled{
  position:absolute;
  width: 100px;
  height: 100px;
  bottom: 13px;
  right: 10px;
}
.search-btn{
  display: inline;
  height: 30px;
  width: 70px;
  background-color: black;
  color: white;
}
.search-form{
  height: 50px;
}

.product-box{
  height: 400px;
  padding: 10px;
}
.imgbox{
  display: flex;
  justify-content: center;
  border: 1px solid silver;
}
.icon{
  position: relative;
  width: 20px;
  height: 20px;
  top: 2px;
  right: 5px;
  margin-left: 5px;
}
.nav-banner{
  display: flex;
  height: 50px;
}
.nav-banner a{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.product-list{
  display: grid;
  grid-template-columns: 100%;
  gap: 20px 40px;
  margin-bottom: 30px;
}
.product-img{
  height: 200px;
  object-fit: contain;
}
.product-info{
  height: 200px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-info div, span{
  font-family: none;
  font-size: 15px;
}
.p-title{
  font-size: 25px;
}
.top-box{
  width: 100%;
  border-bottom: solid 1px black;
  padding-left: 10px;
}
.nav-box{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
.product-list{
  grid-template-columns: 1fr 1fr;
} }

@media (min-width: 992px) {
.product-list{
  grid-template-columns: 1fr 1fr 1fr;
} }
