
.mychat{
  display: flex;
  min-height: 50px;
  justify-content: flex-end;
  margin: 10px 0;
}
.inbox_msg{
  display: flex;
}
.mychat span{
  background: #FFE61B;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
  max-width: 45%;
  word-break: break-all;
}
.notmychat{
  display: flex;
  min-height: 50px;
  margin: 10px 0;
}
.notmychat span{
  background: #fff;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
  max-width: 45%;
  word-break: break-all;
}
.chat-box{
  width: 80%;
  height: 600px;
  padding: 30px;
  background: aliceblue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-list{
  width: 60%;
  height: 600px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background: #F7F7F7;
}
.chat-input-box{
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.msg_history{
  padding: 10px;
}
#msg{
  width: 85%;
  height: 40px;
}
#send{
  width: 10%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: black 1px solid;
}
#exit{
  width: 10%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: black 1px solid;
}
