<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: header">
    <title>도전경매</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/common.css" />
    <script
      src="https://kit.fontawesome.com/20515282ae.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script>
      $(document).ready(function () {
        $(".slick-sample").slick({
          autoplay: true,
          autoplaySpeed: 3000,
          prevArrow: $("#prevArrow"),
          nextArrow: $("#nextArrow"),
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div th:replace="fragments/bodyHeader :: bodyHeader" />
      <div class="jumbotron">
        <div class="top-bar">
          <div class="title">
            <a href="home.html"
              ><img
                src="images/premium-icon-hammer-2547559.png"
                id="iconimg"
              />도전경매</a
            >
          </div>
          <div class="loginbox">
            <td th:text="|${nickname}님, 환영합니다.|"></td>
            <div class="nav-banner">
              <a href="/posts/new"><div>경매등록</div></a>
              <a href="/posts"><div>거래하기</div></a>
              <a href="#"><div>공지사항</div></a>
            </div>
            <a class="btn btn-lg btn-secondary" href="/doLogout">로그 아웃</a>
            |
            <a class="btn btn-lg btn-secondary" href="/adminpage"
              >어드민페이지</a
            >
            <a class="btn btn-lg btn-secondary" href="/members/new">회원가입</a>
          </div>
        </div>
      </div>
      <div th:replace="fragments/footer :: footer" />
    </div>
    <div class="content">
      <div class="l-content">
        <div class="l-content-text">
          <div><span class="large-text">도</span>서와</div>
          <div><span class="large-text">전</span>자기기</div>
        </div>
        <img src="images/Camera.jpeg" />
      </div>
      <div class="r-content">
        <img src="images/Desk.jpeg" />
        <div class="r-content-text">
          <div># 대학생 필수품</div>
          <div>필수 경매 웹 사이트</div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slick-sample">
        <img src="images/gavel-3577255_1280.webp" />
        <img src="images/hands-4604066_1920.png" />
        <img src="images/shopping-4974313_1920.jpg" />
      </div>
      <button type="button" aria-label="이전" id="prevArrow"></button>
      <button type="button" aria-label="다음" id="nextArrow"></button>
    </div>
  </body>
</html>
