<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>옥션월드</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>경매</h1>
        <p class="lead">회원 기능</p>
<!--        <p>-->
<!--            <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>-->
<!--        </p>-->
        <p>
            <a class="btn btn-lg btn-secondary" href="/doLogout">로그 아웃</a>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/adminpage">어드민페이지</a>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/posts/new">게시글 등록</a>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/posts">게시글 목록(임시)</a>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/itemList">게시글 목록(진짜)</a>
        </p>



    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
