<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script src="/webjars/jquery/jquery.min.js"></script>
<head th:replace="fragments/header :: header">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="title">
    <a href="/"><img
            src="images/premium-icon-hammer-2547559.png"
            id="iconimg"
    />도전경매</a>
</div>
    <a class="btn btn-lg btn-secondary" href="/post/myPost">내 게시글</a>
</body>
</html>