<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script src="/webjars/jquery/jquery.min.js"></script>
<head>
</head>
<body>
<div class="container">
    <div>
        <p class="nickname"></p>
    </div>
    <div>
        <ul th:each="room : ${list}">
            <li><a th:href="@{/room(roomId=${room.roomId})}">[[${room.name}]]</a></li>
        </ul>
    </div>
</div>
<script th:inline="javascript">
    $(function(){
        var id = getCookie('id');
        var nickname = getCookie('nickname');
        $('.nickname').text(nickname + '님 환영합니다');
    })

    function getCookie(cookieName){
        cookieName = cookieName + '=';
        var cookieData = document.cookie;
        var start = cookieData.indexOf(cookieName);
        var value = '';
        if(start != -1){
            start += cookieName.length;
            var end = cookieData.indexOf(';', start);
            if(end == -1){
                end = cookieData.length;
            }
            value = cookieData.substring(start, end);
        }
        return unescape(value);
    }
</script>
</body>
</html>