<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script src="/webjars/jquery/jquery.min.js"></script>
<head>
</head>
<body>

<br/>
<br/>
<br/>
<br/>
<br/>

<div class="msg-container">
    <div class="msg-list">
        <h4>[[${session.nickname}]]의 톡방</h4>
        <div th:each="room : ${list}">
            <div class="chatListBox">
                <div type="button" class="chatRoom" th:onclick="|location.href='@{/room(roomId=${room.roomId})}'|">
                    <div class="roomDetails">
                        <div class="profile">
                            <div th:if="${room.regisName == connectedUserName}">
                                <h5>[[${room.buyerName}]]님과의 채팅방</h5>
                            </div>
                            <div th:if="${room.buyerName == connectedUserName}">
                                <h5>[[${room.regisName}]]님과의 채팅방</h5>
                            </div>
                        </div>
                        <div class="chat">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $(function(){
        var id = [[${session.id}]];
        var username = [[${session.nickname}]];
        MessageList(username);
    })

    function MessageList(username){

    }
</script>
</body>
</html>