<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/room.css" />
</head>
<body>
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="chat-box container">
        <div id="msgArea" class="chat-list">
            <div th:each="chat : ${chatList}">
                    <div th:if="${chat.senderName == session.nickname}" class="mychat"><span th:text="${chat.senderName} + ': ' + ${chat.message} + ' ' + ${#dates.format(chat.sendTime, 'HH:mm')}"></span></div>
                    <div th:if="${chat.senderName != session.nickname}" class="notmychat"><span th:text="${chat.senderName} + ': ' + ${chat.message} + ' ' + ${#dates.format(chat.sendTime, 'HH:mm')}"></span></div>
            </div>
        </div>

        <div  class="chat-input-box">
            <input type="text" id="msg" class="form-control">
            <button id="send" class="btn btn-default">전송</button>
        </div>
        </div>
    </div>

    <form th:object="${room}" th:action="@{/exitRoom}" method="post">
        <input type="hidden" th:field="*{roomId}">
        <button id="exit" type="submit">채팅방 나가기</button>
    </form>
</body>
<script th:inline="javascript">
    const objDiv = document.querySelector(".chat-list");
    objDiv.scrollTop = objDiv.scrollHeight;

    $(function(){
        var roomId = [[${room.roomId}]];
        var roomName = [[${room.name}]];
        var sender = [[${session.nickname}]];
        var receiver;

        if(sender == [[${room.regisName}]]){
            receiver = [[${room.buyerName}]];
        }
        else if(sender == [[${room.buyerName}]]){
            receiver = [[${room.regisName}]];
        }

        var socket = new SockJS("/stomp/chat");
        var stomp = Stomp.over(socket);
        var now = new Date();

        stomp.connect({}, function(){
            console.log("server connected...");
            stomp.subscribe("/sub/chat/room/" + roomId, function(chat){
                var content = JSON.parse(chat.body);
                var msgDate = sendMsgDate(content.sendTime);
                if (content.senderName == sender){
                  $("#msgArea").append("<div class='mychat'><span>" + content.senderName + ": " + content.message + " " + msgDate + "</span></div>");
                }else if (content.senderName != sender){
                  $("#msgArea").append("<div class='notmychat'><span>" + content.senderName + ": " + content.message + " " + msgDate + "</span></div>");
                }

            objDiv.scrollTop = objDiv.scrollHeight;
            })
        });

        $("#send").on("click", function(e){
            var msg = document.getElementById("msg");
            now = new Date();
            stomp.send('/pub/chat/message', {}, JSON.stringify({
                chRoomId: roomId,
                senderName: sender,
                receiverName: receiver,
                sendTime: now,
                message: msg.value,
                checkRead: 0
             }));
            msg.value = "";

        });

        $("#exit").on("click", function(e) {
            if(stompClient !== null){
                if(confirm("채팅방을 나가시겠습니까?")){
                    $("#msgArea").append("<tr><td>" + username + "님이 나가셨습니다." + "</td></tr>");
                    stompClient.disconnect();
                }
                else{
                    e.preventDefault();
                }
            }
        });
    })
    function sendMsgDate(msgDate){
        var date;
        var time = new Date();

        var year = time.getHours();
        var minutes = time.getMinutes();

        date = year + ":" + minutes;
        return date;
    }

    function getCookie(cookieName){
        cookieName = cookieName + '=';
        var cookieData = document.cookie;
        var start = cookieData.indexOf(cookieName);
        var value = '';
        if(start != -1){
            start += cookieName.length;
            var end = cookieData.indexOf(';', start);
            if(end == -1){
                end = cookieData.length;
            }
            value = cookieData.substring(start, end);
        }
        return unescape(value);
    }
</script>
</html>